ppmi_pd
ppmi_pd.zip
Experiment/EDA
Experiment/Explore Attributes
development/mssql_data
.idea/
Experiment/V1_implementation/data/data/
# Python temp files
__pycache__/
*.pyc
.DS_Store
Experiment/V1_implementation/tests/test_outputs/

# Ignore model weight
*.pt
*.pth
*.cache